#box_guy {
	height: 500px;
	width: 500px;
}
#home_content {
	text-align: center;
}
.chosen-select {
	color: black;
}
#name_box {
	color:black;
}
#photo_box {
	color:black;
}
body {
	background: #3b5998;
	color: white;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-weight: bold;
	font-size: x-large;
}
#survey_btn {
	background: white;
	color: black;
}
#input_bar {
	width: 40%;
}
#name_box {
	margin-bottom: 15px;
}
#photo_box {
	margin-bottom: 15px;
}
#submit_btn {
	background: white;
	color: black;
}
#submit {
	background: white;
	color: black;
}
#q10 {
	margin-bottom: 15px;
}